{% extends 'base.html.twig' %}

{% block title %}Tag Cloud{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        #chartdiv {
            width: 100%;
            height: 600px;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h2 class="text-center mb-4">{{ 'title.recent_items'|trans }}</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'table.name'|trans }}</th>
                    <th>{{ 'table.collection'|trans }}</th>
                    <th>{{ 'table.tags'|trans }}</th>
                    <th>{{ 'table.user'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('app_item', {id: item.id}) }}">{{ item.name }}</a></td>
                        <td>{{ item.collection.name }}</td>
                        <td>
                            {% for tag in item.tags %}
                                <span class="tag">{{ tag.name }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ item.collection.user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="text-center mt-5 mb-4">{{ 'title.largest_collections'|trans }}</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Items Count</th>
                </tr>
                </thead>
                <tbody>
                {% for collection in collections %}
                    <tr>
                        <td>{{ collection.id }}</td>
                        <td>{{ collection.name }}</td>
                        <td>{{ collection.items|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="text-center mt-5 mb-4">{{ 'title.most_popular_tags'|trans }}</h2>
        <div id="chartdiv" class="mb-5"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            createChart({{ tags|json_encode|raw }})
        });

        function createChart(data) {
            am4core.ready(function() {
                am4core.useTheme(am4themes_animated);

                var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);

                var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
                series.randomness = 0.1;
                series.rotationThreshold = 0.5;

                series.data = data;

                series.dataFields.word = "name";
                series.dataFields.id = "id";

                series.heatRules.push({
                    target: series.labels.template,
                    property: "fill",
                    min: am4core.color("#0000CC"),
                    max: am4core.color("#CC00CC"),
                    dataField: "value"
                });

                series.labels.template.url = "items?tag_id={id}";

                var hoverState = series.labels.template.states.create("hover");


                var subtitle = chart.titles.create();

                var title = chart.titles.create();

                const theme = localStorage.getItem('theme') || 'light';

                updateChartTheme(theme);

                function updateChartTheme(theme) {
                    series.labels.template.fill = am4core.color(theme === 'dark' ? "#FFFFFF" : "#000000");
                }

            });
        }

    </script>
{% endblock %}
