{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ user.email }} Collections</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Custom Attributes Count</th>
            </tr>
            </thead>
            <tbody>
            {% for collection in collections %}
                <tr>
                    <td>{{ collection.id }}</td>
                    <td>{{ collection.name }}</td>
                    <td>{{ collection.description }}</td>
                    <td>{{ collection.category.name }}</td>
                    <td>{{ collection.customItemAttributes|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

