{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ collection.name }} collection</h1>

        <form method="get" class="mb-3">
            <div class="form-row">
                <div class="col">
                    <select name="sort" class="form-control">
                        <option value="name" {% if app.request.query.get('sort') == 'name' %}selected{% endif %}>{{ 'collections.name'|trans }}</option>
                        <option value="createdAt" {% if app.request.query.get('sort') == 'createdAt' %}selected{% endif %}>{{ 'collections.date_created'|trans }}</option>
                    </select>
                </div>
                <div class="col">
                    <select name="order" class="form-control">
                        <option value="asc" {% if app.request.query.get('order') == 'asc' %}selected{% endif %}>{{ 'filter.ascending'|trans }}</option>
                        <option value="desc" {% if app.request.query.get('order') == 'desc' %}selected{% endif %}>{{ 'filter.descending'|trans }}</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">{{ 'filter.apply'|trans }}</button>
                    <a href="{{ path('app_item_create', {id: collection.id}) }}" class="btn btn-success ml-5">Add item</a>

                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                {% for custom_attribute in collection.customItemAttributes %}
                    <th scope="col">{{ custom_attribute.name }}</th>
                {% endfor %}
                <th scope="col">Tags</th>
                <th scope="col">Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('app_item', {id: item.id}) }}">{{ item.name }}</a></td>
                    {% for attribute in item.attributes %}
                        <td> {{ attribute.value }}</td>
                    {% endfor %}
                    <td>
                        {% for tag in item.tags %}
                            <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ item.createdAt.format('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

