{% extends 'base.html.twig' %}

{% block title %}{{ ('items.'~action)|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var debounceTimer;
            $('#item_tags').on('input', function() {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => {
                    var input = $(this).val().trim();
                    if (input.length === 0) {
                        $('#tag-list').empty();
                        return;
                    }

                    var lastWord = input.split(' ').pop();
                    if (lastWord.length > 1) {
                        $.getJSON('/tags', { query: lastWord }, function(data) {
                            $('#tag-list').empty();
                            $.each(data, function(i, tag) {
                                var tagElement = $('<div>').text(tag.name);
                                $('#tag-list').append(tagElement);
                            });
                        });
                    } else {
                        $('#tag-list').empty();
                    }
                }, 300);
            });

            $('#item_tags').on('keydown', function(e) {
                var $selected = $('#tag-list div.selected');
                var $divs = $('#tag-list div');
                switch(e.keyCode) {
                    case 40: // KEY DOWN
                        e.preventDefault();
                        if ($selected.length === 0 || $selected.is($divs.last())) {
                            $divs.removeClass('selected').first().addClass('selected');
                        } else {
                            $selected.removeClass('selected').next().addClass('selected');
                        }
                        break;
                    case 38: // KEY UP
                        e.preventDefault();
                        if ($selected.length === 0 || $selected.is($divs.first())) {
                            $divs.removeClass('selected').last().addClass('selected');
                        } else {
                            $selected.removeClass('selected').prev().addClass('selected');
                        }
                        break;
                    case 13: // ENTER
                        e.preventDefault();
                        if ($selected.length > 0) {
                            var fullText = $(this).val();
                            var newText = fullText.substring(0, fullText.lastIndexOf(' ') + 1) + $selected.text() + ' ';
                            $(this).val(newText);
                            $('#tag-list').empty();
                        }
                        break;
                }
            });

            $('#tag-list').on('click', 'div', function() {
                var fullText = $('#item_tags').val();
                var newText = fullText.substring(0, fullText.lastIndexOf(' ') + 1) + $(this).text() + ' ';
                $('#item_tags').val(newText);
                $('#tag-list').empty();
            });
        });

    </script>


{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">{{  ('items.'~action)|trans }} {{ 'items.item'|trans }}</h1>

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="mb-3">
            {{ form_label(form.name, 'items.name'|trans) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'items.description'|trans) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        {% for attribute in form %}
            {% if attribute.vars.name starts with 'custom_' %}
                <div class="mb-3">
                    {{ form_label(attribute) }}
                </div>
            {% endif %}
        {% endfor %}

        <div class="mb-3">
            {{ form_label(form.tags, 'items.tags'|trans) }}
            {{ form_widget(form.tags, {'attr': {'id' : 'item_tags'}}) }}
            {{ form_errors(form.tags, {'attr': {'class': 'form-text text-danger'}}) }}
            <div id="tag-list"></div>
        </div>

        <div class="mb-3">
            {{ form_label(form.imageFile, 'Item Image (optional)') }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.imageFile) }}
        </div>


        {{ form_rest(form) }}
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-success">{{ action }}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
