{% extends 'base.html.twig' %}

{% block title %}Add Item{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var debounceTimer;
            $('#item_tags').on('input', function() {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => {
                    var input = $(this).val().trim();
                    if (input.length === 0) {
                        $('#tag-list').empty();
                        return;
                    }

                    var lastWord = input.split(' ').pop();
                    if (lastWord.length > 1) {
                        $.getJSON('/tags', { query: lastWord }, function(data) {
                            $('#tag-list').empty();
                            $.each(data, function(i, tag) {
                                var tagElement = $('<div>').text(tag.name);
                                $('#tag-list').append(tagElement);
                            });
                        });
                    } else {
                        $('#tag-list').empty();
                    }
                }, 300);
            });

            $('#item_tags').on('keydown', function(e) {
                var $selected = $('#tag-list div.selected');
                var $divs = $('#tag-list div');
                switch(e.keyCode) {
                    case 40: // KEY DOWN
                        e.preventDefault();
                        if ($selected.length === 0 || $selected.is($divs.last())) {
                            $divs.removeClass('selected').first().addClass('selected');
                        } else {
                            $selected.removeClass('selected').next().addClass('selected');
                        }
                        break;
                    case 38: // KEY UP
                        e.preventDefault();
                        if ($selected.length === 0 || $selected.is($divs.first())) {
                            $divs.removeClass('selected').last().addClass('selected');
                        } else {
                            $selected.removeClass('selected').prev().addClass('selected');
                        }
                        break;
                    case 13: // ENTER
                        e.preventDefault();
                        if ($selected.length > 0) {
                            var fullText = $(this).val();
                            var newText = fullText.substring(0, fullText.lastIndexOf(' ') + 1) + $selected.text() + ' ';
                            $(this).val(newText);
                            $('#tag-list').empty();
                        }
                        break;
                }
            });

            $('#tag-list').on('click', 'div', function() {
                var fullText = $('#item_tags').val();
                var newText = fullText.substring(0, fullText.lastIndexOf(' ') + 1) + $(this).text() + ' ';
                $('#item_tags').val(newText);
                $('#tag-list').empty();
            });
        });

    </script>


{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Add New Item</h1>

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>

        {% for attribute in form %}
            {% if attribute.vars.name starts with 'custom_' %}
                <div class="mb-3">
                    {{ form_widget(attribute) }}
                </div>
            {% endif %}
        {% endfor %}

        <div class="mb-3">
            {{ form_row(form.tags, {'attr': {'id' : 'item_tags'}}) }}
            <div id="tag-list"></div>
        </div>



        {{ form_rest(form) }}
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-success">Add</button>

        {{ form_end(form) }}
    </div>


    {% block stylesheets %}
        {{ parent() }}
        <style>
            #tag-list {

                border: 1px solid #ccc;
                border-top: none;
                list-style: none;

            }

            #tag-list div {
                padding: 8px 10px;
                cursor: pointer;
                border-bottom: 1px solid #ccc;
            }

            #tag-list div:hover {
                background-color: #f0f0f0;
            }

            .selected{
                background-color: #f0f0f0;

            }
        </style>
    {% endblock %}

{% endblock %}
