{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Items with tag: {{ tag.name }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Collection</th>
                <th>Tags</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.collection.name }}</td>
                    <td>
                        {% for tag in item.tags %}
                            <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td>{{ item.collection.user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
